In [104]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.plotly
import plotly
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

In [70]:
df = pd.read_csv('./data/PricePY.csv')
df = df[::-1]

In [71]:
df.head()

,Year,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change
58,1960,$1.9554,$2.0470,$2.0870,$1.8170,$2.0850,2.11%
57,1961,$2.0091,$2.0840,$2.1530,$1.8500,$2.0720,-0.62%
56,1962,$2.0897,$2.0630,$2.1660,$1.9940,$2.1110,1.88%
55,1963,$2.0022,$2.1060,$2.1970,$1.7650,$2.1940,3.93%
54,1964,$1.6820,$2.1930,$2.2350,$1.4020,$1.4970,-31.77%

In [72]:
dollar = df[['Average\nClosing Price','Year Open','Year High','Year Low','Year Close']]
dollar

   Average\nClosing Price Year Open Year High Year Low Year Close
58                $1.9554   $2.0470   $2.0870  $1.8170    $2.0850
57                $2.0091   $2.0840   $2.1530  $1.8500    $2.0720
56                $2.0897   $2.0630   $2.1660  $1.9940    $2.1110
55                $2.0022   $2.1060   $2.1970  $1.7650    $2.1940
54                $1.6820   $2.1930   $2.2350  $1.4020    $1.4970
53                $1.5209   $1.5010   $1.7250  $1.3820    $1.6850
52                $1.7429   $1.6970   $1.9920  $1.5670    $1.7560
51                $1.5998   $1.7440   $1.8700  $1.4330    $1.4770
50                $1.3451   $1.4620   $1.5460  $1.1710    $1.3550
49                $1.3286   $1.3525   $1.4800  $1.2125    $1.4738
48                $1.5341   $1.4538   $1.7900  $1.3450    $1.6850
47                $1.5757   $1.6788   $1.7250  $1.4150    $1.6313
46                $1.8039   $1.6188   $2.6950  $1.4013    $2.6400
45                $3.4883   $2.5925   $5.4500  $2.1475    $5.4500
44                $4.7135   $5.5450   $6.3360  $3.3600    $4.5850
43                $3.6960   $4.5775   $4.5775  $2.9575    $3.3575
42                $3.3263   $3.3800   $3.9975  $2.5575    $2.7750
41                $2.5765   $2.7450   $2.8835  $2.1475    $2.7925
40                $3.1801   $2.7500   $3.7500  $2.5820    $3.4325
39                $4.0198   $3.4075   $4.8375  $3.3225    $4.5425
38                $4.5690   $4.4550   $5.4150  $3.8050    $5.0100
37                $4.2817   $5.0850   $5.0850  $3.7625    $3.9150
36                $3.5092   $3.9075   $4.0200  $3.0175    $3.3075
35                $3.5670   $3.2425   $4.0775  $3.1845    $3.6350
34                $3.5086   $3.5400   $3.7725  $3.2175    $3.4775
33                $3.2565   $3.4625   $3.7075  $2.7475    $3.4325
32                $2.8086   $3.3950   $3.3950  $2.4050    $2.7450
31                $2.8537   $2.7300   $3.2100  $2.5675    $3.1075
30                $3.7030   $3.1425   $4.4050  $2.9775    $4.4000
29                $4.0967   $4.3925   $4.4875  $3.8175    $4.0925
28                $3.1868   $4.0875   $4.1000  $2.4350    $2.6050
27                $3.0476   $2.6350   $4.0575  $2.4625    $4.0475
26                $3.6521   $4.0075   $4.5950  $3.0575    $3.5375
25                $3.3035   $3.6125   $3.9250  $2.7750    $3.7825
24                $3.5871   $3.7275   $4.1625  $3.1350    $4.0150
23                $4.2164   $3.9550   $5.1225  $3.4150    $5.1225
22                $4.7452   $5.0850   $6.8290  $3.6875    $3.8125
21                $3.6793   $3.8925   $4.4175  $3.2175    $3.2575
20                $2.9395   $3.3075   $3.4800  $2.4675    $2.7625
19                $2.6215   $2.7900   $2.9425  $2.3775    $2.4850
18                $2.6053   $2.4750   $2.8425  $2.3350    $2.7950
17                $2.7417   $2.7625   $2.9550  $2.4575    $2.8900
16                $3.2541   $2.9200   $4.2200  $2.6125    $3.2500
15                $3.3615   $3.2875   $4.1475  $2.7925    $3.7700
14                $3.4785   $4.0575   $4.2275  $2.9510    $3.0750
13                $3.2152   $3.0225   $3.6800  $2.8775    $3.3925
12                $4.0607   $3.4600   $5.4250  $3.2250    $5.0100
11                $6.4086   $5.0100   $9.7950  $4.1900    $8.8500
10                $7.9908   $9.1500  $12.8250  $4.7550    $6.1075
9                 $5.3381   $6.1100   $6.7450  $4.4125    $5.4150
8                 $5.8712   $5.5775   $7.9925  $4.2800    $7.9425
7                 $7.1443   $8.0550   $8.8600  $5.7740    $6.5275
6                 $7.5412   $6.5700   $9.4325  $5.9225    $7.7800
5                 $6.8608   $7.5525   $7.9125  $6.0050    $6.0525
4                 $5.8908   $5.9700   $7.3900  $4.7400    $5.8950
3                 $5.0836   $5.8150   $6.1555  $4.6525    $4.7000
2                 $4.3945   $4.5825   $5.1950  $3.8065    $4.0800
1                 $4.4014   $4.0650   $5.6000  $4.0225    $4.2700
0                 $4.9757   $4.3350   $5.7450  $4.1650    $5.0325

In [73]:
def strsplit(data):
    bushell=data.str.split(pat="$",expand=True)
    MTR = np.array(bushell[1],dtype=float)*36.74*70
    return MTR

In [85]:
MTR = strsplit(dollar['Average\nClosing Price'])
MTR_Open = strsplit(dollar['Year Open'])
MTR_Close = strsplit(dollar['Year Close'])
MTR_High = strsplit(dollar['Year High'])
MTR_Low = strsplit(dollar['Year Low'])
Price = pd.DataFrame({'Year':df['Year'],'AVG_Price':MTR,'Year_Open':MTR_Open
                     ,'Year_Close':MTR_Close,'Year_High':MTR_High,'Year_Low':MTR_Low})
Price = Price.reset_index()
Price = Price.drop(['index'],axis=1)
Price.head()

   Year   AVG_Price  Year_Open  Year_Close  Year_High   Year_Low
0  1960  5028.89772  5264.4746   5362.2030  5367.3466  4672.9606
1  1961  5167.00338  5359.6312   5328.7696  5537.0854  4757.8300
2  1962  5374.29046  5305.6234   5429.0698  5570.5188  5128.1692
3  1963  5149.25796  5416.2108   5642.5292  5650.2446  4539.2270
4  1964  4325.76760  5639.9574   3849.9846  5747.9730  3605.6636

In [113]:
def trace(x,y):
    t = go.Scatter(x=np.array(x),y=np.array(y))
    return t
trace0 = trace(Price['Year'],Price['AVG_Price'])
data = [trace0]
plotly.offline.plot(data)

'file:///home/xander/Desktop/Upjau/Price_pred/temp-plot.html'

In [114]:
Price.to_csv('./data/Price_data.csv')